{% extends "base.html" %}

{% block  title %} Home - BookShare {% endblock %}

{% block content %}
<div class="container">
	<header>
		<h1>Benvinguts a Book Share</h1>
	</header>
	<div class="col-md-12">
		{% if titols %}
		<div class="list-group col-md-8 col-sm-offset-2 ">
			<h2>Disposem d'aquests titols.</h2>
			{% for titol in titols %}
					<a class="list-group-item" href="{% url 'llibres:fitxaTitol' titol.id %}">{{ titol.titol }}</a>
			{% endfor %}
			</div>
		{% endif %}
	</div>

</div>

{% endblock %}
