{% extends "base.html" %}

{% block  title %} Prestecs - BookShare {% endblock %}
{% block content %}
<h1>Aquests són els prestecs que hi ha</h1>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				{% for prestec in prestecs %}
				<li class="list-group-item">
					<a href="{% url 'prestecs:edita_prestec' prestec.id %}"> {{ prestec.id }} - {{ prestec.beneficiari }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
				{% for prestec in mhanprestat %}
				<li class="list-group-item">
					<a href="{% url 'prestecs:edita_prestec' prestec.id %}"> {{ prestec.id }} - {{ prestec.prestamista }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

{% endblock %}
