{% extends "base.html" %}

{% block  title %} Prestecs - BookShare {% endblock %}
{% block content %}
<h1>Aquests són els prestecs realitzats</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Llibres que he prestat</h2>
			<ul class="list-group">
				{% for prestec in prestecs %}
				<li class="list-group-item">
					{{ prestec.llibre }} a {{ prestec.beneficiari }}
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Llibres que m'han prestat</h2>
			<ul class="list-group">
				{% for prestec in mhanprestat %}
				<li class="list-group-item">
					{{ prestec.llibre }} me l'ha prestat {{ prestec.prestamista }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
