{% extends "base.html" %}
{% load staticfiles %}


{% block title %} Fitxa del llibre {{ llibre.titol }} - BookShare {% endblock %}

{% block content %} 
{% if llibre %}
	<div class="container" >
		<div class="row">
			<div class="col-md-6">
				<h1 class="text-center"> {{ llibre.titol }} </h1>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="col-md-6">
				<div class="jumbotron" style="font-size:15px">
					<p> ISBN: {{ llibre.isbn }}</p>
					<p> Editorial: {{ llibre.editorial }} ({{ llibre.edicio }} edició) </p>
					<p> Gènere: {{ llibre.titol.genere }} </p>
					<h3> Sinopsi </h3>
					<p> {{ llibre.titol.sinopsis }} </p>
					<h3>Informació prestec</h3>
					<p> Propietari: {{ llibre.propietari }} </p>
					<p> Estat: {{ llibre.estat }} </p>
				</div>
			</div>
			<div class="col-md-6">
				{% if llibre.titol.imatge %}
					<img height="360px" width="300px" class="img-responsive" src="{{ llibre.titol.imatge }}">
				{% else %}
					<img height="360px" width="300px" class="img-responsive" src={%static "imatges/no.png" %}>
				{% endif %}
			</div>
			<div class="row" id="button1">
				<a href="{% url 'llibres:editarLlibre' llibre.id %}" class="btn btn-default">Editar</a>
			</div>
		</div>
	</div>

{% else %}
	<div> 
		<p> Error amb el llibre demanat. </p> 
	</div>
	{% endif %} 
{% endblock %}

