{% extends "base.html" %}


{% block  title %} Generes - BookShare {% endblock %}
{% block content %} 
<h1>Aquests són els generes que tenim disponibles</h1>
{% if generes %}
<ul>
		<div class="container">
			<div class="row col-md-12">
				{% for genere in generes %}
					<div class="col-md-4 col-sm-offset-1 jumbotron" style="font-size:15px">
						<a href="{% url 'llibres:editarGenere' genere.id %}">{{ genere.nom }}</a>
					</div>
				{% endfor %}
			</div>
		</div>
</ul>
{% else %}
<p>
	No hi ha generes disponibles.
</p>
{% endif %} {% endblock %}


