{% extends "base.html" %}
{% load staticfiles %}


{% block  title %} Titols de {{genere.nom}} - BookShare {% endblock %}
{% block content %} 
<h1>Llibres disponibles</h1>
{% if llibres %}
<ul>
	<div class="container">
			<div class="row col-md-12">
			{% for llibre in llibres %}
				<div class="col-md-4 col-sm-offset-1 jumbotron" style="font-size:15px">
					<a href="{% url 'llibres:fitxaLlibre' llibre.id %}">{{ llibre.titol }}</a>
				</div>
			{% endfor %}
			</div>
	</div>
</ul>
{% else %}
<p>
	No hi ha cap llibre disponible.
</p>
{% endif %} {% endblock %}


