{% extends "base.html" %}


{% block  title %} Usuaris - BookShare {% endblock %}
{% block content %} 
<h1>Aquests són els usuaris que tenim disponibles</h1>
{% if usuaris %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
			<div class="col-md-4">
				<ul class="list-group">
					{% for usuari in usuaris %}
						<li class="list-group-item">
							<span class="glyphicon glyphicon-user"></span> {{ usuari.usuari }}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-4"></div>
	</div>
</div>

{% else %}
<p>
	No hi ha usuaris disponibles.
</p>
{% endif %} {% endblock %}
