{% load staticfiles %}
<!DOCTYPE html>
<html lang="ca">
	<head>
		<meta charset="utf-8">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<title>{% block title %} base {% endblock %}</title>
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<style>
			{% block estil %}
			#iconaPrestec{
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}
			

			#formEntradaLlibres {
				margin-left: 10px;
			}
			#dinahosting {
				margin-right: 5px !important;
				margin-top: 10px !important;
			}

			body {
				background-color: #717171;
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
				padding-top: 70px;
				padding-bottom: 70px !important;
			}
			h3 {
				color: #FF9900;
			}
			h1 {
				color: #FF9900;
				margin-bottom: 50px;
			}
			.logos {
				margin: 0px !important;
				margin-top: 5px !important;
			}
			.botons {
				padding: 0px !important;
			}
			{% endblock %}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		{% block barra %}
		{% if user.is_authenticated %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Llibres <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'llibres:nouLlibre' %}">Afegir Llibre</a>
							</li>
							<li>
								<a href="{% url 'llibres:index' %}">Llistat de llibres</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'llibres:nouGenere' %}">Afegir Genere</a>
							</li>
							<li>
								<a href="{% url 'llibres:llistatGeneres' %}">Llistat de generes</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'llibres:nouTitol' %}">Afegir Titol</a>
							</li>
							<li>
								<a href="{% url 'llibres:llistatTitols' %}">Llistat de titols</a>
							</li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">		
						<a href="#" id="prestec" class="dropdown-toggle" data-toggle="dropdown"><span><img id="iconaPrestec" src="{% static "imatges/glyphicons_308_share_alt.png" %}"></span>Prestecs <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'prestecs:llistatPrestecs' %}">Llistat de Prestecs</a>
							</li>
							<li>
								<a href="{% url 'prestecs:nouPrestec' %}">Nou prestec</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'solicituds:llistatSolicituds' %}">Llistat de Solicituds</a>
							</li>
							<li>
								<a href="{% url 'solicituds:novaSolicitud' %}">Nova Solicitud</a>
							</li>
						</ul>
					</li>	
				</ul>
				
				<ul class="nav navbar-nav"> 
					<li><a href="{% url 'xat' %}"> Xat</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'usuaris:llistatUsuaris' %}"> <span class="glyphicon glyphicon-user"></span> Hola, {{user.username}} </a>
					</li>
					<li>
						<a href="{% url 'usuaris:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</li>
				</ul>

			</div>
		</nav>
		{% else %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<li class="dropdown">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Llibres <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'llibres:index' %}">Llistat de llibres</a>
							</li>
							<li class="divider"></li>

							<li>
								<a href="{% url 'llibres:llistatGeneres' %}">Llistat de generes</a>
							</li>
							<li class="divider"></li>

							<li>
								<a href="{% url 'llibres:llistatTitols' %}">Llistat de titols</a>
							</li>

							<li class="divider"></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'usuaris:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>

				</ul>
			</div>

		</nav>
		{% endif %}
		{% endblock %}

		{% if messages %}

		{% load eines_extras %}
		<ul class="messages">
			{% for message in messages %}
			{% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}
			<p class="alert alert-{{ alert_tag }}">
				{{ message }}
			</p>
			{% endfor %}
		</ul>
		{% endif %}

		{% block content %}
		patata
		{% endblock %}
		
		<footer class="navbar navbar-inverse navbar-fixed-bottom col-md-12 hidden-xs visible-sm visible-md visible-lg">
			<a  class="navbar-text navbar-right logos" href="http://www.websalpunt.cat"><img class="img-responsive"  src={%static "imatges/puntcat.png" %}></a>
			<a id="dinahosting" class="navbar-text navbar-right logos" href="http://www.dinahosting.com"><img class="img-responsive"  src={%static "imatges/dinahosting.png" %}/></a>
			<ul class="nav navbar-nav navbar-left col-md-offset-1 col-md-3 botons">
				<li> <a  data-toggle="modal" data-target="#quisom">Qui som?</a>  </li>
				<li> <a  data-toggle="modal" data-target="#condicions">Avís Legal i Condicions d'ús</a>	</li>
			</ul>
		</footer>
		
		<footer class="navbar navbar-inverse navbar-fixed-bottom col-md-12 visible-xs hidden-sm hidden-md hidden-lg">
			<a  class="navbar-text navbar-right logos" href="http://www.websalpunt.cat"><img  src={%static "imatges/puntcat.png" %}></a>
			<a id="dinahosting" class="navbar-text navbar-right logos" href="http://www.dinahosting.com"><img  height="20px" src={%static "imatges/dinahosting.png" %}/></a>
			<ul class="nav navbar-nav navbar-left col-md-offset-1 col-md-3 botons">
				<a  data-toggle="modal" data-target="#quisom">Qui som? ||</a>  
				<a  data-toggle="modal" data-target="#condicions">Avís Legal i Condicions d'ús</a>
			</ul>
		</footer>
		<!--Modal qui som-->
		<div class="modal fade" id="quisom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Qui som?</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-info">
							<div class="panel-heading"> <h3 class=" panel-title">aaa</h3></div>
							<div class="panel-body">
								 
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Tancar
						</button>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Modal -->
		<div class="modal fade" id="condicions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Avís Legal i Condicions d'ús </h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-info">
							<div class="panel-heading"> <h3 class=" panel-title">Llicència</h3></div>
							<div class="panel-body">
								<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ca"><img alt="Llicència de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
								<br />
								<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Bookshare</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="htttp://www.bookshare.cat" property="cc:attributionName" rel="cc:attributionURL">Enemic a Derrotar Websalpunt 2013</a> està subjecta a una llicència de <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ca">Reconeixement-NoComercial 4.0 Internacional de Creative Commons</a> 
								</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Tancar
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	</body>
</html>
