{% load staticfiles %}
<!DOCTYPE html>
<html lang="ca">
	<head>
		<meta charset="utf-8">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/mensajes.css' %}" rel="stylesheet">
		<title>{% block title %} base {% endblock %}</title>
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<style>
			{% block estil %}
			#iconaGoogle {
				width: 25px;
				height: 25px;
				margin-left: 5px;
			}
			#iconaPrestec {
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}

			#formEntradaLlibres {
				margin-left: 10px;
			}
			#dinahosting {
				margin-right: 5px !important;
				margin-top: 10px !important;
			}

			body {
				background-color: #717171;
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
				padding-top: 70px;
				padding-bottom: 70px !important;
			}
			h3 {
				color: #FF9900;
			}
			h1 {
				color: #FF9900;
				margin-bottom: 50px;
			}
			.logos {
				margin: 0px !important;
				margin-top: 5px !important;
			}
			.botons {
				padding: 0px !important;
			}
			.video-container {
				position: relative;
				padding-bottom: 50%;
				padding-top: 10px;
				height: 0;
				overflow: hidden;
			}

			.video-container iframe, .video-container object, .video-container embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 80%;
			}

			{% endblock %}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		{% block barra %}
		<!--Barra d'usuaris autenticats!-->
		{% if user.is_authenticated %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Llibres <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'llibres:nouLlibre' %}">Afegir Llibre</a>
							</li>
							<li>
								<a href="{% url 'llibres:index' %}">Llistat de llibres</a>
							</li>
							<li class="divider"></li>

							<li>
								<a href="{% url 'llibres:llistatGeneres' %}">Llistat de generes</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'llibres:nouTitol' %}">Afegir Titol</a>
							</li>
							<li>
								<a href="{% url 'llibres:llistatTitols' %}">Llistat de titols</a>
							</li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" id="prestec" class="dropdown-toggle" data-toggle="dropdown"><span><img id="iconaPrestec" src="{% static "imatges/glyphicons_308_share_alt.png" %}"></span>Prestecs <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'prestecs:llistatPrestecs' %}">Llistat de Prestecs</a>
							</li>

							<li class="divider"></li>
							<li>
								<a href="{% url 'solicituds:llistatSolicituds' %}">Llistat de Solicituds</a>
							</li>

						</ul>
					</li>
				</ul>
				<!--{% if alerta_peticions_flag %}
				<ul id="patata" class="nav navbar-nav">
				<li >
				<a href="#"><span class="glyphicon glyphicon-envelope"></span> {{alerta_peticions_flag}}</a>
				</li>
				</ul>
				{% endif %}-->

				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'xat' %}">Xat</a>
					</li>
				</ul>

				<form class="navbar-form navbar-left" action="{% url 'recerca' %}" method="post" role="search">

					<div class="form-group">
						{% csrf_token %}
						{{ formCerca.busca }}
					</div>
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>

				</form>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'usuaris:llistatUsuaris' %}"> <span class="glyphicon glyphicon-user"></span> Hola, {{user.username}} </a>
					</li>
					<li>
						<a href="{% url 'usuaris:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</li>
				</ul>

			</div>
		</nav>
		{% else %}
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<li class="dropdown">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Llibres <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'llibres:index' %}">Llistat de llibres</a>
							</li>
							<li class="divider"></li>

							<li>
								<a href="{% url 'llibres:llistatGeneres' %}">Llistat de generes</a>
							</li>
							<li class="divider"></li>

							<li>
								<a href="{% url 'llibres:llistatTitols' %}">Llistat de titols</a>
							</li>

							<li class="divider"></li>
						</ul>
					</li>
				</ul>
				<!--<ul class="nav navbar-nav">
				<li class="">
				<a href="#"><span class="glyphicon glyphicon-envelope"></span>{{alerta_peticions_flag}}</a>
				</li>
				</ul>-->
				<form class="navbar-form navbar-left" action="{% url 'recerca' %}" method="post" role="search">

					<div class="form-group">
						{% csrf_token %}
						{{ formCerca.busca }}
					</div>
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>

				</form>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'social:begin' 'google-oauth2' %}"><span><img id="iconaGoogle" src="{% static "imatges/google.png" %}"></span> Login amb Google</a>
					</li>

				</ul>
			</div>

		</nav>
		{% endif %}
		{% endblock %}

		{% block content %}
		patata
		{% endblock %}

		<footer class="navbar navbar-inverse navbar-fixed-bottom col-md-12 hidden-xs visible-sm visible-md visible-lg">
			<a  class="navbar-text navbar-right logos" href="http://www.websalpunt.cat"><img class="img-responsive"  src={%static "imatges/puntcat.png" %}></a>
			<a id="dinahosting" class="navbar-text navbar-right logos" href="http://www.dinahosting.com"><img class="img-responsive"  src={%static "imatges/dinahosting.png" %}></a>
			<ul class="nav navbar-nav navbar-left col-md-offset-1 col-md-3 botons">
				<li>
					<a  data-toggle="modal" data-target="#quisom">Qui som?</a>
				</li>
				<li>
					<a  data-toggle="modal" data-target="#condicions">Avís Legal i Condicions d'ús</a>
				</li>
			</ul>
		</footer>

		<footer class="navbar navbar-inverse navbar-fixed-bottom col-md-12 visible-xs hidden-sm hidden-md hidden-lg">
			<a  class="navbar-text navbar-right logos" href="http://www.websalpunt.cat"><img  src={%static "imatges/puntcat.png" %}></a>
			<a id="dinahosting" class="navbar-text navbar-right logos" href="http://www.dinahosting.com"><img  height="20px" src={%static "imatges/dinahosting.png" %}></a>
			<ul class="nav navbar-nav navbar-left col-md-offset-1 col-md-3 botons">
				<a  data-toggle="modal" data-target="#quisom">Qui som? ||</a>
				<a  data-toggle="modal" data-target="#condicions">Avís Legal i Condicions d'ús</a>
			</ul>
		</footer>

		<!--Modal missatges-->
		<div class="modal fade" id="missatges" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Missatges</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">aaa</h3>
							</div>
							<div class="panel-body">

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Tancar
						</button>
					</div>
				</div>
			</div>
		</div>

		<!--Modal qui som-->
		<div class="modal fade" id="quisom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Qui som?</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Qui som?</h3>
							</div>
							<div class="panel-body">
								Som un grup de 5 alumnes de l'Institut Cendrassos que cursem el cicle superior d'informatica DAW (Desenvolupament d'aplicacions web).

								El projecte que hem creat tracta d'una web la qual a traves d'ella podrem accedir a una xarxa per compartir llibres. Una xarxa en la que podrem donar llibres, deixar-los, que ens els deixin o rebrels.

								El web té un chat per el qual ens podrem comunciar amb altres usuaris del web, també tindrà una llista dels llibres que la gent està disposada a donar i/o deixar.
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Tancar
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="condicions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Avís Legal i Condicions d'ús </h4>
					</div>

					<div class="modal-body">

						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class=" panel-title">Exclusió de garanties</h3>
							</div>
							<div class="panel-body">
								El portal web forma part d'una pràctica avaluable escolar obligatòria. Per aquest motiu no s'hauria d'utilitzar d'una forma més enllà que l'acadèmica i <b>els creadors del portal no garanteixen la funcionalitat total del portal.</b>
								<br>
								No ens fem responsables de les imatges pujades pels usuaris. Els usuaris només han de pujar imatges de les qual tinguit el permís o en siguin propietaris.
							</div>
						</div>
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Condicions</h3>
							</div>
							<div class="panel-body">
								Les següents condicions regulen l'accés i l'utilització del web que BookShare proporciona als seus usuaris, pel conseqüent comporta l'acceptació de les mateixes.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Accés</h3>
							</div>
							<div class="panel-body">
								Demanem siusplau als usuaris que llegeixin les següents condicions d'ús, ja que aquestes poden ser adaptades i/o modificades quan es vulgui, la modificació de les mateixes serà avisat amb prou antel·lació. En el cas que no s'estigui d'acord amb les mateixes es prega la no utilització del web.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Utilització</h3>
							</div>
							<div class="panel-body">
								Al fer servir el web els usuaris es comprometen a fer-ne un ús raonable i correcte en relació als serveis que ofereix la mateixa. L'usuari es compromet a respectar el web en base a qualsevol acte malintencionat tal com pot ser virus, colapsar el web, inutilitzar i/o sobrecarregar-lo.

								Es deixa constancia que en qualsevol cas de desobeir les condicions d'ús, BookShare es reserva el dret d'actuar en conseqüencia per asegurarse de mantenir el web operatiu.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Funcionament</h3>
							</div>
							<div class="panel-body">
								L'equip del web procurarà a mantenir el web operatiu i amb un bon manteniment en el que respecta a funcionament i dades d'ús. Tot i l'esmentat anteriorment, BookShare no es compromet a mantenir el web operatiu ni l'existencia d'errors en el seu web.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Modificacions</h3>
							</div>
							<div class="panel-body">
								BookShare determinara quan s'ha de portar qualsevol acció sense previ avis tal com poden ser creació, modificació i/o eliminació  sobre l'informació que el web conté, presentacions o configuracions.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Ús de la informació </h3>
							</div>
							<div class="panel-body">
								BookShare no demana dades de caràcter personal, els registres es basen en autentificació social mitjançant el compte de gmail i les dades que es recopilen no es poden asociar a persones fisiques.
							</div>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class=" panel-title">Llicència</h3>
							</div>
							<div class="panel-body">
								<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ca"><img alt="Llicència de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
								<br />
								<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Bookshare</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="htttp://www.bookshare.cat" property="cc:attributionName" rel="cc:attributionURL">Enemic a Derrotar Websalpunt 2013</a> està subjecta a una llicència de <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ca">Reconeixement-NoComercial 4.0 Internacional de Creative Commons</a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Tancar
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/mensajes.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		{% if messages %}
		<script>
			{% load eines_extras %}

			//{% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}-->
			$(document).ready(function() {
				//$().toastmessage('showErrorToast',"error dialog...");

				{% for message in messages %}
				$().toastmessage('showToast', {
					text : "{{message}}",
					sticky : false,
					position : 'top-right',
					type : "{{message.tags}}",
				});

				{% endfor %}

			});
		</script>
		{% endif %}

		{% if alerta_peticions_flag %}
		<script>
			$(document).ready(function() {

				$().toastmessage('showToast', {
					text : "Hi ha prestecs pendents",
					sticky : false,
					position : 'top-right',
					type : "notice",
				});

			});
		</script>
		{% endif %}
		<script>
			$(document).ready(function() {
				$().toastmessage('showToast', {
					text : "La web està en beta. S'aconsella no utilitzar-la en mode de productivitat",
					sticky : true,
					position : 'top-right',
					type : "warning",
				});
			});
		</script>
	</body>
</html>
